{% import "Ceres::Basket.Macros.AddToBasket" as AddToBasket %}
{% import "Ceres::Item.Macros.AgeRestriction" as AgeRestriction %}

{% set itemData = config("Ceres.item.data") | split(', ') %}

<script type="x/template" id="vue-single-item">
    <main>
      <slot :getDataField="getDataField" :getFilteredDataField="getFilteredDataField">
      <div class="single container-max page-content">
        <div class="row">

        {% include "ABC::Item.Components.SingleItem.SingleItem_Details" %}
        <hr>
        {% include "ABC::Item.Components.SingleItem.SingleItem_Info" %}
        </div>
        <slot name="item-list-container"></slot>

        <div class="trusted">
          <slot name="ReviewStarContainer"></slot>
          <slot name="ReviewContainer"></slot>
        </div>
      </div>
      </slot>
  </main>
</script>
