<div class="borderRight col-lg-8 col-sm-12 col-xs-12">
  {% if 'item.description' in itemData or 'all' in itemData %}
    <h2>Artikelbeschreibung</h2>
    <div id="description" v-html="currentVariation.texts.description"></div>
  {% endif %}
  <div v-if="currentVariation.texts.technicalData">
    <hr>
    <h2>Technische Daten</h2>
    <div id="technicaldata" v-html="currentVariation.texts.technicalData"></div>
  </div>
  <hr>
  <p class="center margin-top-2">
    <a class="backToCat" href="/{% for category in categoryBreadcrumbs[:categoryBreadcrumbs | length - 1] if not break %}{% if category.level == 1 %}{{ category.details[0].nameUrl }}{% else %}{% set break = true %}{% endif %}{% endfor %}">
      <i class="fa fa-chevron-left"></i>
      {{ trans("ABC::Template.back") }}</a>
  </p>
</div>
<!-- ./ITEM DESCRIPTION -->
<div class="col-lg-4 col-sm-12 col-xs-12">
  <div id="questions">
    <span class="redBox">
      <i class="fa fa-question"></i>
    </span>
    <h4>Noch Fragen?</h4>
    <p>Wir helfen Ihnen gerne weiter!</p>
    <p class="margin-bottom-0">
      <a href="tel:07021507514" title="Rufen Sie uns an!">
        <i class="fa fa-phone"></i>
        +49 7021 / 50 75 14</a>
    </p>
    <p>
      <a href="mailto:verkauf@abc-einkochautomaten.de" title="Schreiben Sie uns!">
        <i class="fa fa-envelope"></i>
        verkauf@abc-einkochautomaten.de</a>
    </p>
    <p class="margin-top-3">Oder schreiben SIe uns über das</p>
    <a class="btn cart" href="/contact" target="_blank" title="Zum Kontaktformular">Kontaktformular</a>
  </div>
  <div id="rating" class="margin-top-8">
    <span class="redBox">
      <i class="fa fa-star"></i>
    </span>
    <slot name="feedback-container"></slot>
  </div>
</div>
