{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}
{% if footerContent is not defined %}
  {% set footerContent = services.category.get(454, lang) %}
{% endif %}
<footer>
  <div class="footerTop">
    <div class="container-max">
      <div class="row">
        {{ footerContent.details.first.description | raw }}
      </div>
    </div>
  </div>
  <div class="footerBottom">
    <div class="container-max">
      <div class="row">
        <div class="col-xs-12">
          <span class="werk38 sm">
            <a href="http://www.werk38.de/" title="WERK38 - Manufaktur für Print &amp; Web" target="_blank"></a>
            <a class="hidden-xs" href="http://www.werk38.de/" title="WERK38 - Manufaktur für Print &amp; Web" target="_blank">Entwicklung by WERK38</a>
          </span>
          <span class="center">© 2019 DEKONEX Europe GmbH</span>
          <span class="toTop sm visible" data-plenty="UI.initToTop(this)">
            <a href="#top">
              <span class="fa fa-chevron-up"></span></a>
          </span>
          <span class="xs">
            <span class="werk38">
              <a href="#" title="WERK38 - Manufaktur für Print &amp; Web" target="_blank"></a>
            </span>
            <span class="toTop visible" data-plenty="UI.initToTop(this)">
              <a href="#top">
                <span class="fa fa-chevron-up"></span></a>
            </span>
          </span>
        </div>
      </div>
    </div>
  </div>
</footer>
<div id="info">
	<span class="fa fa-question"></span>
	<div class="infoBox">
		<h2>Sie haben eine Frage?</h2>
		<p>Wir helfen Ihnen gerne weiter!</p>
		<p class="margin-bottom-0"><a href="tel:+49 7021 / 50 75 14" title="Rufen Sie uns an!"><i class="fa fa-phone"></i> +49 7021 / 50 75 14</a></p>
		<p><a href="mailto:verkauf@abc-einkochautomaten.de" title="Schreiben Sie uns!"><i class="fa fa-envelope"></i> verkauf@abc-einkochautomaten.de</a></p>
		<p class="margin-top-4">Oder schreiben Sie uns über das</p>
		<a href="/contact" class="kontakt" title="Zum Kontaktformular">Kontaktformular <span>▶</span></a>
	</div>
</div>
