{% import "Ceres::Category.Macros.CategoryTree" as Tree %}

{% set lang = services.sessionStorage.getLang() %}

<ul class="mainmenu">
  <li class="cat-welcome">Home</li>
    {{ Tree.get_nav_bar(categories, "") }}
</ul>
